<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CashMate - Expense Tracker</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.2/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/webjars/font-awesome/6.4.0/css/all.min.css"/>
    <script src="/webjars/jquery/3.6.0/jquery.min.js"></script>
    <script src="/webjars/bootstrap/5.3.2/js/bootstrap.min.js"></script>
</head>
<body>

<header class="header bg-success text-white py-5">
    <div class="container d-flex flex-column justify-content-center align-items-center">
        <h1>Welcome to CashMate</h1>
        <p class="lead">Track your expenses effortlessly</p>
    </div>
</header>


<main class="container py-5">
    <div class="row">
        <div class="col-6 d-flex flex-column justify-content-center align-items-center">
            <h2>About CashMate</h2>
            <p class="mb-4">CashMate is a simple yet powerful expense tracking application designed to help you manage your finances effectively.</p>
            <p>With CashMate, you can easily record your expenses, categorize them, set budgets, and gain insights into your spending habits.</p>
        </div>
        <div class="col-6">
            <h2>Get Started</h2>
            <p class="mb-4">Sign up or log in to start tracking your expenses with CashMate.</p>
            <a th:href="@{/register}" class="btn btn-success btn-lg me-2">Sign Up</a>
            <a th:href="@{/login}" class="btn btn-outline-success btn-lg">Log In</a>
        </div>
    </div>
</main>
</body>
</html>
